/* Universal Selectors */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    letter-spacing: .5px;
}

/* Whole screen */
.whole-screen{
    padding: 10px;
}

/* Top Navbar */
nav {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
    padding: 10px;
}
nav > div {
    padding: 10px;
    font-size: 20px;
}
/* Main-content (questions and choices) */
#main-content{
    margin: 50px 100px;
}

.question-card{
    background-color: #fff;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    padding: 20px;
    text-align: center;
}

/* Answer Choices */
#answer-choices{
    visibility: hidden ;
}

.answers{
    display: flex;
    flex-direction: column ;
    border: 1px solid #eceff1;
    border-radius: 5px;
    margin: 20px 10px;
    text-align: left;
    padding: 15px;
    font-size: 20px;
    background-color: aliceblue;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 1px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
 }

 /* Start Button */
 #start{
    color:  rgb(15, 15, 87);
    display: block;
    margin: 30px auto;
    font-size: 1.2em;
    padding: .5em 2em;
    border: 2px solid rgb(15, 15, 87);
    background-color: #ffffff;
    border-radius: 2em;
    background-color: aliceblue;
 }
